h1{
    /* color: palevioletred;
    background-color: darkslategray;
    text-decoration: wavy;
    text-decoration-color: red;
    /* text-decoration-style: wavy; */
    font-family: "Playwrite GB J Guides", cursive;
} 
/* text spaacing in w3schools
 letter -spacing in w3schools
 text shodow property */
p{
    /* text-align: justify;
    /* text-indent: 80px;
    letter-spacing: 0.5rem;
    line-height: 1.2rem;
 
    color: transparent;
    text-shadow: 3px 3px red; */
}
/* front google .com 
CSS web safe Fonts*/