*{
    margin: 0px;
    padding: 0px;
}

body{
    background-color: cornflowerblue;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap:200px;
}

.container{
    width: 280px;
    height: 280px;
    border: 2px solid white ;
    animation-name: orbit 4s linear infinite;
    border-radius: 50%;
}

.box{
    width: 80px;
    height: 80px;
    background-color: lightgray;
    /* transition: 1s ease-in; */

    border-radius: 50%;
    /* animation-name: shifTheBox; */
    /* animation-name: slide-in; */
    animation-name: orbit;
    animation-duration: 2s;
    /* animation-delay: 2s; */
    /* animation-iteration-count: 3; */
    /* animation-direction: alternate-reverse; */
    animation-timing-function: linear;
    animation-fill-mode: none;
}

/* .box:hover{
    transform: translate(20px);
    animation: move 0.5s ease-in-out forwards;
} */

@keyframes orbit {
    from{
        transform: rotate(360deg);
    }
    to{

    }
}
@keyframes slide-in {
    0%{
        transform: translate(-200px);
    }
    100%{
        transform: translate(200px);
    }
}

@keyframes shifTheBox {
    0%,100%{
        transform: translate(0,0);
        /* border-radius: 50%; */
    }
    25%{
        transform: translate(200px,0);
        /* background-color: yellow; */
    }
    50%{
        transform: translate(200px,200px);
    }
    75%{
        transform: translate(0px,200px);
    }
    /* 100%{
        transform: translate(0,0);
    } */
}

.loader{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.dot{
    width: 10px;
    height: 10px;
    background-color: white;
    border-radius: 50%;
    animation: loading 1s ease-in alternate;
}

.dot:nth-child(even){
    animation: delay 0.1s;
}
/* 
.dot:nth-child(4){
    animation: delay 0.1s;
} */


@keyframes loading {
   from{
        transform: translateY(-10px);
   } 
   to{
        transform: translateY(10px);
   }
}