.container{
    /* width:400px ;
    height: 400px;    
    border: 1px solid red;
     overflow: visible; 
     overflow: hidden; 
       overflow: scroll; */
    /* overflow: auto;
    
    
    */
    text-align: justify;
}
.subcontainer{
    /* height: 40vh; */
    overflow: auto;
}
.img1{
     float: right;
}
.img2{
        float: left;
    }
 .p2{
    clear:left
 }
